{% extends "_base.html" %}

{% block content %}
    <div id="about">

        <div id="spaceA"></div>
        <div id="wrapA">
            <h1>ABOUT US</h1>
            <p>THE WEBSITE ENABLE EACH INDIVDUALS TO WRITE A TEXT THAT IS FREE OF MISTAKE THIS TEXT IS JUST TO HELP
                INDIVIDUAL WITH THERE WRITING EXPERIENCE IN URDU WHICH IS RARELY PRESENT IN ANY PLATFORM IN WORLD OF
                WEB.</p>
            <!-- <div id="spaceA"></div> -->
            <h1>HELP?</h1>
            <p> THE SITE IS DESIGNED FOR URDU TEXT EDITING INDIVIDUALS. <br>
                1. TEXT BOX IS PROVIDED TO TYPE WHERE INDIVDUALS CAN INPUT THERE TEXT. <br>
                2. SPEECH-TO-TEXT ICON HELPS TO CONVERT SPEECH INTO THE TEXT IN TEXTBOX.<br>
                3. THEN YOU CAN SAVE THE DOCUMENT BY CLICKING ON THE SAVE ICON IN THE MENU BAR.<br>
                4. THE KEYBOARD LAYOUT IS PROVIDED ON THE KEYBOARD PAGE FOR USERS.</p>
        </div>
        <div class="navB">
            <img src={{ url_for('static', filename='Adab5.png') }} alt="" class="logo">
        </div>
    </div> 

{% endblock %}
